<!DOCTYPE html>
<html>
    <head>  
        <link rel = "stylesheet", href = "/css/style.css">
        <script src = "/js/app.js"></script>
        <title>About</title>
    </head>
            
        <body>
            <div class="main-content">{{>header}}
            {{body}}
            </div>
        {{>footer}}
        </body>


</html>